{% include 'header.html' %}
{% if request.path != '/giris' %}
<meta http-equiv="refresh" content="0; URL=/giris?next={{ request.args.get('next', '/') }}" />
{% endif %}
<div class="container giris_kayit">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				{% if request.args.get('h', '') == 'hata' %}
				<div class="alert alert-danger">
					Giriş yapılırken hata meydana geldi..
				</div>
				{% endif %}
				{% if request.args.get('b', '') == 'basarili' %}
				<div class="alert alert-success">
					Kayıt başarıyla tamamlandı, giriş yapabilirsiniz
				</div>
				{% endif %}
				<form action="" method="post">
					<div class="form-group mb-3">
						<label for="mail">Email Adresi</label>
						<input type="email" class="form-control" name="email" placeholder="Email Adresi" id="mail">
					</div>
					<div class="form-group mb-3">
						<label for="sifre">Şifreniz</label>
						<input type="password" class="form-control" name="pass" placeholder="Şifreniz" id="sifre">
					</div>
					<div class="form-group mb-3 mt-4">
						<input type="hidden" name="next" value="{{ request.args.get('next', '/profil') }}">
						<button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
					</div>
				</form>
			</div>
		</div>
</div>
{% include 'footer.html' %}
